.CommentWrapper {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.CommentText {
  font-size: 14px;
}

.CommentInfo {
  display: flex;
  gap: 20px;
}

.CommentTimestamp {
  font-size: 10px;
  color: #3f5de1;
}

.CommentRole {
  font-size: 12px;
  color: red;
}
