.createPredictionForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.createPredictionFormElement{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.createPredictionFormElementLabel{
    font-weight: bold;
    font-size: 16px;
}

.createPredictionButton{
    padding: 10px;
    border: 1px solid #3f5de1;
    border-radius: 10px;
    cursor: pointer;
    color: #3f5de1;
    background-color: white;
}

.createPredictionButton:hover{
    background-color: #3f5de1;
    color: white;
}

.createPredictionFormElementInput > input {
    padding: 10px;
    border: 5px;
    border: 1px solid #3f5de1;
    border-radius: 10px;
}