.devProjectContainer {
  margin-left: 20px;
  padding-left: 10px;
  border-radius: 5px;
  width: 100%;
}

.devProjectWrapper {
  display: flex;
  min-height: 650px;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  z-index: -1;
}

.leftDevProjectArea {
  margin-top: 10px;
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.rightDevProjectArea {
  flex: 1;
  display: flex;
  max-height: 750px;
  top: 10px;
  position: sticky;
  flex-direction: column;
  background-color: rgba(195, 204, 212, 0.223);
}

.devProjectControls {
  display: flex;
}

.devProjectBasicInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.devProjectBasicInfoData {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: 300px;
}

.devProjectBasicInfoKey {
  font-weight: 900;
}

.devProjectBasicInfoValue {
  font-weight: 100;
}

.devProjectControls {
  display: flex;
  border: 1px solid;
  border-radius: 10px;
}

.devProjectControlInfo {
  flex: 6;
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
  padding: 10px;
  gap: 10px;
}

.devProjectControlButtons {
  flex: 4;
  display: flex;
  flex-direction: column;
  border-left: 1px solid;
  padding: 10px 5px;
  justify-content: space-evenly;
  /* align-items: center; */
}

.devProjectControlInfoItem {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: rgba(220, 236, 251, 0.355);
  border-radius: 10px;
}

.devProjectControlInfoItem:hover {
  background-color: rgba(184, 218, 250, 0.355);
}

.devProjectControlInfoKey {
  font-weight: bolder;
}

.devProjectControlInfoValue {
  font-weight: 500;
  color: #3f5de1;
  font-size: 14px;
}

.uploadTransformationClassForm {
  border: 1px solid rgba(0, 0, 0, 0.411);
  border-radius: 5px;
  padding: 10px;
}

.UpdateProjectStatusForm {
  border: 1px solid rgba(0, 0, 0, 0.509);
  border-radius: 5px;
  padding: 10px;
}

.devProjectDescription {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  overflow: scroll;
  max-height: 150px;
  padding: 10px;
}

.devProjectDescriptionTitle {
  color: #3f5de1;
  padding: 10px;
  font-weight: bold;
}

.devProjectDescriptionContent {
  margin: 10px;
  padding: 10px;
}

.expertChatArea {
  display: flex;
  gap: 70px;
  margin-top: 30px;
}

.expertChatAreaBubble {
  border: 1px solid #3f5de1;
  width: 80px;
  height: 80px;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 80px;
  cursor: pointer;
}

.expertChatAreaBubble:hover {
  border: 2px solid #3f5de1;
  background-color: #3f5de1;
  color: white;
}

.expertChatAreaContainer {
  border-radius: 20px;
  position: relative;
  max-width: 250px;
  /* top: -325px; */
  /* bottom: 375px; */
  background-color: rgb(249, 205, 205);
  z-index: 1;
  padding: 10px;
}

.devActivityLogs {
  padding: 10px;
  flex: 9;
  border-bottom: 1px solid;
  max-height: 300px;
  overflow: scroll;
}

.devChatArea {
  flex: 11;
  padding: 10px;
  border-top: 1px solid;
}

.uploadTransformationClassForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.formElement {
  margin: 10px;
}

.formElementLabel {
  margin-top: 10px;
}

.uploadTransformationFileButton {
  color: #3f5de1;
  background-color: white;
  border: 1px solid #3f5de1;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.uploadTransformationFileButton:hover {
  background-color: #3f5de1;
  color: white;
}

.devStatusSelector{
  width: 100%;
  color: black;
}

.updateFromSelect{
  border: 1px solid #3f5de1;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
}