.devHomeContainer {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.devHomeWrapper {
  max-width: 100%;
  display: flex;
}

.devHomeTitle{
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #3f5de1;
}

.DevNavigatorContainer{
  margin-bottom: 10px;
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 8px;
  background-color: rgb(223, 226, 229);
}

.DevNavigatorWrapper{
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: 10px;
}

.DevNavigatorElement{
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.DevNavigatorElement:hover {
  color: #3f5de1;
}